.title-row {
    position: fixed;
    width: 100%;
    left: 15px;
    top: 0;
    z-index: 5;
    background: #E9D758;
    height: 65px;
    -webkit-box-shadow: 5px 5px 5px 5px #75616173;
    box-shadow: 0px 5px 5px 5px #75616173;
    font-size: 40px;
    color: #39393A;
}

.search-link {
    color: #297373;
    transition: all 150ms ease;
}

.search-link:hover {
    color: #ff8552;
    transition: all 150ms ease;
}

.header-title {
    text-align: center;
}

.shelf-title {
    border-bottom: 2px solid white;
    border-radius: 2px;
}

.book-background {
    width: 128px;
    height: 193px;
}

.book-wrapper {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.shelf-header-current {
    background: #ff8552;
    height: 60px;
    font-size: 28px;
    color: white;
    padding-top: 13px;
}

.shelf-background-current {
    background: #ff8552;
    padding-top: 35px;
    padding-bottom: 65px;
}

.shelf-header-want {
    background: #297373;
    height: 50px;
    font-size: 28px;
    color: white;
    padding-top: 3px;
}

.shelf-background-want {
    background: #297373;
    padding-top: 35px;
    padding-bottom: 65px;
}

.shelf-header-read {
    background: #39393A;
    height: 50px;
    font-size: 28px;
    color: white;
    padding-top: 3px;
}

.shelf-background-read {
    background: #39393A;
    padding-top: 35px;
    padding-bottom: 65px;
}
